.search-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  grid-gap: 0.8rem;
  align-items: center;
  width: 100%;
  background-color: var(--white-color);
  padding-top: 4px
}

.close-icon {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
