.background {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

.highlighted {
  background: #d2eaff;
}

textarea,
label {
  display: block;
  margin: 10px 0;
}

li {
  list-style: none;
}

.chat,
.contact-list {
  float: left;
  margin-right: 20px;
}

.navbar {
  text-align: center;
}

.cat-container {
  width: 100%;
  overflow: hidden;
}

.list-cat {
  display: flex;
  white-space: nowrap;
  padding: 0.5rem;
}

.cat-img {
  padding: 10px;
  transition: background 0.2s linear;
}

.active {
  background: rgba(0, 100, 150, 0.4);
}

.contact-item {
  margin-right: 10px;
}
