.item-nav {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: var(--font-xs);
  font-family: var(--regular-font);
  color: var(--white-color);
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
}

.selected {
  color: #1ca1c1;
  box-shadow: 2px 0 var(--secondary-color) inset;
  background-color: #3e424b;
}

.icon-item {
  width: 23px;
  height: 23px;
}
