.uploader-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
}

.uploader-button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-family: var(--medium-font);
  color: var(--secondary-color);
  cursor: pointer;
}

.input-uploader {
  display: none;
}
