.label-input {
  margin-right: 1.25rem;
  font-family: var(--medium-font);
}

.hide {
  display: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;
}

.text-field {
  padding: 0.4rem 0.75rem;
  font-size: var(--font-xs);
  font-family: var(--regular-font);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
  text-align: left;
}

.text-field:focus {
  border-color: var(--secondary-color);
}

.input-text {
  width: 18rem;
}

.input-search {
  width: 100%;
}

.input-submit {
  width: 13rem;
}

.error-message {
  font-size: var(--font-xs);
  font-family: var(--regular-font);
  color: var(--not-active-color);
  margin: 0.3rem;
}
